---
layout: default
---

{%- if page.detail_image -%}<img class="home_header" src="{{ page.detail_image }}">{%- endif -%}

<center>
    <hr>
    <img src="/assets/images/asci/projects_asci.png">
    <hr>
</center>

{% for post in site.posts %}
<center>
    {% if post.category == "projects" %}

        <font size=6> {{post.title}} </font>
        <br>
        <a href="{{ post.permalink }}">
        {% if post.detail_image %}
            <img src="{{ post.detail_image }}" style="width:350px;height:350px">
        {% endif %}
        <br>
        {{post.description}}
        </a>
        <hr>
    {% endif %}
</center>
{% endfor %}

{{ content }}